.wrapper {
	padding:0;
}
.work {
	width: 80%;
	height: auto;
	display: inline-block;
	margin: 10px;
	background: black;
	color: white;
}
.work h3{
	position: relative;
	margin-top: 20px;
	padding: 10px;
	visibility: visible;
}
.work p {
	position: relative;
	padding: 10px;
	margin-top: 10px;
	visibility: visible;
}
@media only screen and (min-width: 600px) {
	.wrapper {
		padding-left: 17%;
		padding-right: 17%;
		padding-top: 20px;
	}
	.work {
		width: 300px;
		height: 300px;
	}
	.work img {
		position: absolute;
		display: block;
	}
	.work:hover img{
		opacity: 0.5;
	}
	.work h3{
		margin-top: 80px;
		visibility: hidden;
	}
	.work p {
		position: absolute;
		width: 300px;
		visibility: hidden;
	}
	.work:hover h3, .work:hover p{
		visibility: visible;
	}
}