html {
	background:  url("../img/bg.jpg") fixed no-repeat;
}
header {
	background: none;
}
#peek, #slide-2 {
	display: none;
}
.teaser{ 
	font-variant: small-caps;
	position: relative;
	font-size:20px;
	background: #F5FAFA;
	width: 50%;
	margin: 0 auto;
	border-radius: 25px;
}
.awesome{
	color: #E8D0A9;
	font-weight: bold;
}

@media only screen and (min-width: 600px) {
	#peek, #slide-2 {
		display: initial;
	}
	#peek-m, #browser {
		display: none;
	}
	.teaser {
		font-size:30px;
		padding: 50px;
	}
	.tease {
		width: 500px;
		height: 500px;
	}
	header{
		position: fixed;
	}
}