.wrapper {
	margin-bottom: 40px;
	padding: 10px;
}
.desc {
	width: 90%;
	margin: 0 auto;
}
.work-logo {
	width: 100%;
}
.work-logo img{
	max-width: 70%;
	height: auto;
}
.wrapper a:link, .wrapper a:visited, .wrapper a:active{
	color: #666666;
}
.wrapper a:hover {
	color: #608099;
}
@media only screen and (min-width: 600px) {
	.wrapper {
		margin-top: 180px;
		margin-bottom: 50px;
		padding: 0;
	}
	.desc {
		padding:25px;
		width: 50%;
	}
	.work-img {
		width: 80%;
		margin: 0 auto;
	}
}